In [1]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None

## Data

In [60]:
df = pd.read_csv('../output/csv/lol-data-matches-fixed-duration.csv').drop(columns=['Unnamed: 0'])
df1 = pd.read_csv('../output/csv/lol-data-match-frames.csv').drop(columns=['Unnamed: 0'])
blue, red = -1, 1
frame = 15
random_state = 0
df1 = df1[df1['frame'] == frame]
print('Number of duplicate data points in lol-data-matches-fixed-duration.csv: '
     + str(df.duplicated(subset=['match_id']).sum()))
print('Number of duplicate data points in lol-data-match-frames.csv: '
     + str(df1.duplicated(subset=['match_id']).sum()))
df.drop_duplicates(subset=['match_id'], inplace=True)
df1.drop_duplicates(subset=['match_id'], inplace=True)
df = pd.merge(df1, df, on='match_id')
print('Initial set of features:\n', df.columns.tolist())
print('Class distribution;\tBlue:', df.groupby('winning_team').size().tolist()[0],
      '\tRed:', df.groupby('winning_team').size().tolist()[1])
print('Tier distribution; \tBronze: ', df.groupby('tier').size().tolist()[0],
     '\tGold:', df.groupby('tier').size().tolist()[1], '\tDiamond:', df.groupby('tier').size().tolist()[2],
     '\tGrandmaster:', df.groupby('tier').size().tolist()[3])
df.describe()

Number of duplicate data points in lol-data-matches-fixed-duration.csv: 80
Number of duplicate data points in lol-data-match-frames.csv: 0
Initial set of features:
 ['match_id', 'frame', 'blue_total_kills', 'blue_total_gold', 'blue_total_cs', 'blue_total_damage', 'blue_towers', 'blue_plates', 'blue_inhibitors', 'blue_barons', 'blue_dragons', 'blue_rift_heralds', 'red_total_kills', 'red_total_gold', 'red_total_cs', 'red_total_damage', 'red_towers', 'red_plates', 'red_inhibitors', 'red_barons', 'red_dragons', 'red_rift_heralds', 'tier', 'division', 'patch', 'game_duration', 'region', 'winning_team', 'first_champion', 'first_tower', 'first_inhibitor', 'first_baron', 'first_dragon', 'first_rift_herald']
Class distribution;	Blue: 17982 	Red: 17578
Tier distribution; 	Bronze:  10984 	Gold: 9565 	Diamond: 7403 	Grandmaster: 7610

,frame,blue_total_kills,blue_total_gold,blue_total_cs,blue_total_damage,blue_towers,blue_plates,blue_inhibitors,blue_barons,blue_dragons,...,red_rift_heralds,patch,game_duration,winning_team,first_champion,first_tower,first_inhibitor,first_baron,first_dragon,first_rift_herald
count,35562.0,35562.000000,35562.000000,35562.000000,35562.000000,35562.000000,35562.000000,35562.00000,35562.0,35562.000000,...,35562.000000,35562.000000,35562.000000,35560.000000,35443.000000,35539.000000,30965.000000,24293.000000,35482.000000,33072.000000
mean,15.0,11.056521,26295.091811,391.238035,26365.644086,0.479557,6.009364,0.00149,0.0,0.646702,...,0.336483,11.231024,1724.068135,149.431946,149.346839,148.718309,148.797029,151.471617,151.834733,146.368529
std,0.0,4.464617,3143.479414,55.202283,5359.075378,0.777876,3.365329,0.04338,0.0,0.672677,...,0.472513,0.175843,402.615811,49.997476,49.996439,49.984273,49.986334,49.979367,49.967030,49.868704
min,15.0,0.000000,14651.000000,145.000000,7603.000000,0.000000,0.000000,0.00000,0.0,0.000000,...,0.000000,10.250000,840.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
25%,15.0,8.000000,24125.000000,354.000000,22666.250000,0.000000,3.000000,0.00000,0.0,0.000000,...,0.000000,11.180000,1436.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
50%,15.0,11.000000,26158.000000,396.000000,26114.000000,0.000000,6.000000,0.00000,0.0,1.000000,...,0.000000,11.210000,1702.000000,100.000000,100.000000,100.000000,100.000000,200.000000,200.000000,100.000000
75%,15.0,14.000000,28291.000000,431.000000,29778.000000,1.000000,8.000000,0.00000,0.0,1.000000,...,1.000000,11.210000,1979.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
max,15.0,36.000000,40225.000000,599.000000,57894.000000,9.000000,15.000000,3.00000,0.0,2.000000,...,1.000000,11.900000,3649.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000