In [122]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None

## Data

In [123]:
df = pd.read_csv('../output/csv/lol-data-matches-fixed-duration.csv').drop(columns=['Unnamed: 0'])
df1 = pd.read_csv('../output/csv/lol-data-match-frames.csv').drop(columns=['Unnamed: 0'])
blue, red = -1, 1
frame = 15
random_state = 0
df1 = df1[df1['frame'] == frame]
print('Number of duplicate data points in lol-data-matches-fixed-duration.csv: '
     + str(df.duplicated(subset=['match_id']).sum()))
print('Number of duplicate data points in lol-data-match-frames.csv: '
     + str(df1.duplicated(subset=['match_id']).sum()))
df.drop_duplicates(subset=['match_id'], inplace=True)
df1.drop_duplicates(subset=['match_id'], inplace=True)
df = pd.merge(df1, df, on='match_id')
print('Number of data points with missing features: ')
for f in df.columns[df.isna().any()].tolist():
    print(f + ': ' + str(df.loc[df[f].isna()].shape[0]))
df.dropna(subset=['winning_team'], inplace=True)
print('Initial set of features:\n', df.columns.tolist())
print('Initial class distribution:\nBlue:' + '%.2f%%' % ((df.groupby('winning_team').size().tolist()[0]/df.shape[0])*100)
      + '\nRed:' + '%.2f%%' % ((df.groupby('winning_team').size().tolist()[1]/df.shape[0])*100))
print('Initial tier distribution: \nBronze: ', df.groupby('tier').size().tolist()[0],
     '\nGold:', df.groupby('tier').size().tolist()[1], '\nDiamond:', df.groupby('tier').size().tolist()[2],
     '\nGrandmaster:', df.groupby('tier').size().tolist()[3])
df.describe()

Number of duplicate data points in lol-data-matches-fixed-duration.csv: 80
Number of duplicate data points in lol-data-match-frames.csv: 0
Number of data points with missing features:
winning_team: 2
first_champion: 119
first_tower: 23
first_inhibitor: 4597
first_baron: 11269
first_dragon: 80
first_rift_herald: 2490
Initial set of features:
 ['match_id', 'frame', 'blue_total_kills', 'blue_total_gold', 'blue_total_cs', 'blue_total_damage', 'blue_towers', 'blue_plates', 'blue_inhibitors', 'blue_barons', 'blue_dragons', 'blue_rift_heralds', 'red_total_kills', 'red_total_gold', 'red_total_cs', 'red_total_damage', 'red_towers', 'red_plates', 'red_inhibitors', 'red_barons', 'red_dragons', 'red_rift_heralds', 'tier', 'division', 'patch', 'game_duration', 'region', 'winning_team', 'first_champion', 'first_tower', 'first_inhibitor', 'first_baron', 'first_dragon', 'first_rift_herald']
Initial class distribution:
Blue:50.57%
Red:49.43%
Initial tier distribution:
Bronze:  10984
Gold: 9563
Diamond: 7403
Grandmaster: 7610

,frame,blue_total_kills,blue_total_gold,blue_total_cs,blue_total_damage,blue_towers,blue_plates,blue_inhibitors,blue_barons,blue_dragons,...,red_rift_heralds,patch,game_duration,winning_team,first_champion,first_tower,first_inhibitor,first_baron,first_dragon,first_rift_herald
count,35560.0,35560.000000,35560.000000,35560.000000,35560.00000,35560.000000,35560.000000,35560.000000,35560.0,35560.000000,...,35560.000000,35560.000000,35560.000000,35560.000000,35441.000000,35537.000000,30963.000000,24292.000000,35480.000000,33070.000000
mean,15.0,11.056412,26295.002700,391.234674,26365.56018,0.479556,6.009308,0.001490,0.0,0.646682,...,0.336474,11.231027,1724.085742,149.431946,149.346802,148.718237,148.796951,151.473736,151.834837,146.368310
std,0.0,4.464712,3143.540154,55.201427,5359.20093,0.777889,3.365281,0.043382,0.0,0.672691,...,0.472510,0.175847,402.616937,49.997476,49.996438,49.984271,49.986332,49.979305,49.967027,49.868688
min,15.0,0.000000,14651.000000,145.000000,7603.00000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,10.250000,840.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
25%,15.0,8.000000,24125.000000,354.000000,22666.00000,0.000000,3.000000,0.000000,0.0,0.000000,...,0.000000,11.180000,1436.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
50%,15.0,11.000000,26158.000000,396.000000,26114.00000,0.000000,6.000000,0.000000,0.0,1.000000,...,0.000000,11.210000,1702.000000,100.000000,100.000000,100.000000,100.000000,200.000000,200.000000,100.000000
75%,15.0,14.000000,28291.000000,431.000000,29778.00000,1.000000,8.000000,0.000000,0.0,1.000000,...,1.000000,11.210000,1979.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
max,15.0,36.000000,40225.000000,599.000000,57894.00000,9.000000,15.000000,3.000000,0.0,2.000000,...,1.000000,11.900000,3649.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000

## Data Preprocessing

### Sampling

In [124]:
bronze = df[df['tier'] == 'BRONZE'].sample(7000, random_state=random_state)
gold = df[df['tier'] == 'GOLD'].sample(7000, random_state=random_state)
diamond = df[df['tier'] == 'DIAMOND'].sample(7000, random_state=random_state)
gm = df[df['tier'] == 'GRANDMASTERS'].sample(7000, random_state=random_state)
df = bronze.append([gold, diamond, gm])
print('Sample class distribution:\nBlue:' + '%.2f%%' % ((df.groupby('winning_team').size().tolist()[0]/df.shape[0])*100)
      + '\nRed:' + '%.2f%%' % ((df.groupby('winning_team').size().tolist()[1]/df.shape[0])*100))

Sample class distribution:
Blue:50.25%
Red:49.75%

### Data Cleaning and Formatting

In [125]:
df.drop(columns=['match_id', 'frame', 'division', 'patch', 'region'], inplace=True)
if frame < 5:
    df.drop(columns=['red_dragons', 'blue_dragons', 'red_inhibitors',
                     'blue_inhibitors', 'red_rift_heralds', 'blue_rift_heralds'], inplace=True)
if frame < 20:
    df.drop(columns=['red_barons', 'blue_barons'], inplace=True)
print('Set of features after removing irrelevant features:\n', df.columns.tolist())
df.replace({200: red, 100: blue, np.nan:0}, inplace=True)

Set of features after removing irrelevant features:
 ['blue_total_kills', 'blue_total_gold', 'blue_total_cs', 'blue_total_damage', 'blue_towers', 'blue_plates', 'blue_inhibitors', 'blue_dragons', 'blue_rift_heralds', 'red_total_kills', 'red_total_gold', 'red_total_cs', 'red_total_damage', 'red_towers', 'red_plates', 'red_inhibitors', 'red_dragons', 'red_rift_heralds', 'tier', 'game_duration', 'winning_team', 'first_champion', 'first_tower', 'first_inhibitor', 'first_baron', 'first_dragon', 'first_rift_herald']

In [126]:
df

,blue_total_kills,blue_total_gold,blue_total_cs,blue_total_damage,blue_towers,blue_plates,blue_inhibitors,blue_dragons,blue_rift_heralds,red_total_kills,...,red_rift_heralds,tier,game_duration,winning_team,first_champion,first_tower,first_inhibitor,first_baron,first_dragon,first_rift_herald
15531,10,24815,411,23271,0,5,0,2,1,5,...,0,BRONZE,1759,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
8772,2,19598,310,19605,2,14,0,0,0,15,...,1,BRONZE,1226,1.0,1.0,1.0,1.0,0.0,1.0,1.0
4835,7,20290,282,19038,1,9,0,0,0,17,...,0,BRONZE,1071,1.0,1.0,1.0,0.0,0.0,1.0,-1.0
2709,12,25719,366,26826,0,0,0,0,0,7,...,0,BRONZE,1400,-1.0,1.0,-1.0,-1.0,0.0,1.0,1.0
16740,11,23084,236,21528,2,13,0,0,0,19,...,1,BRONZE,1214,1.0,1.0,1.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23374,11,25810,401,26539,0,5,0,0,1,11,...,0,GRANDMASTERS,2289,1.0,1.0,1.0,-1.0,-1.0,1.0,-1.0
26364,9,25556,352,28232,2,13,0,1,0,25,...,1,GRANDMASTERS,1441,1.0,1.0,1.0,1.0,1.0,-1.0,1.0
27318,12,28033,380,31459,0,5,0,0,0,16,...,0,GRANDMASTERS,1774,1.0,-1.0,1.0,1.0,1.0,1.0,1.0
23324,13,30364,373,35017,0,6,0,0,1,8,...,0,GRANDMASTERS,1526,-1.0,-1.0,-1.0,-1.0,1.0,1.0,-1.0
32815,19,34008,436,29116,1,11,0,2,0,12,...,1,GRANDMASTERS,1322,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0